<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="index.css" media="screen" title="no title" charset="utf-8">
        <title>valid</title>
        <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    </head>
    <body ng-app="valid">
        <form class="" ng-controller="validateCtrl" name="myForm" novalidate>
            <p>
                Name:
                <input type="text" name="user" value="" ng-model="user" required>
                <span class="tips" ng-show="myForm.user.$dirty && myForm.user.$invalid">
                    <span ng-show="myForm.user.$error.required">
                        用户名是必须的。
                    </span>
                </span>
            </p>
            <p>
                Email:
                <input type="email" name="email" ng-model="email" required>
                <span class="tips" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                    <span ng-show="myForm.email.$error.required">邮箱必须</span>
                    <span ng-show="myForm.email.$error.email">非法邮箱</span>
                </span>
            </p>
            <button type="submit" name="button" ng-disabled="myForm.user.$dirty&&myForm.user.$invalid||myForm.email.$dirty&&myForm.email.$invalid">Submit</button>
        </form>
        <script src="index.js" charset="utf-8"></script>
    </body>
</html>
