<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Select</title>
</head>
<body ng-app="selectApp">
    <div ng-controller="myCtrl">
        <select ng-model="selectedName" ng-options="person.login for person in followers">
        <!-- <select>
            <option value="0">please select</option>
            <option ng-repeat="person in followers">{{person.login}}</option> -->
        </select>
    </div>
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="index.js" charset="utf-8"></script>
</body>
</html>
